registry=https://nexus.wdf.sap.corp:8443/nexus/content/groups/build.releases.npm/
@sap:registry=https://nexus.wdf.sap.corp:8443/nexus/content/groups/build.releases.npm/
strict-ssl=false
package-lock=true # `package-lock.json` should be updated manually by running `npm run upgrade-lock` when new dependencies are added
